<div class="navbar navbar-expand-sm navbar-light fixed-top">
  <ul class="navbar-nav">
    <li class="nav-item nav-item-back">
      <%= link_to root_path, class: "nav-link" do %>
        <&nbsp;back
      <% end %>
    </li>
    <li class="nav-item nav-item-logo">
      <%= link_to root_path, class: "nav-logo" do %>
        <h1 class="nav-logo-text">Rob M Rowe</h1>
        <%= image_tag "rmr-logo.png", class: "nav-logo-image", alt: "Rob M Rowe logo", height: 64 %>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to "Biography", "bio", class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Gallery", "store", class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Contact", "contact", class: "nav-link" %>
    </li>
  </ul>
</div>
